<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Księgarnia u Michała</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Historia</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="hero_section">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numer ISB</th>
          <th scope="col">Autor</th>
          <th scope="col">Tytuł</th>
          <th scope="col">Ilość</th>
          <th scope="col">Ilość na stanie</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
       {% for ksiazka in ksiegozbior %}
        <tr>
          <td>{{ ksiazka.isbn_number }}</td>
          <td>{{ ksiazka.author }}</td>
          <td>{{ ksiazka.title }}</td>
          <td>{{ ksiazka.quantity }}</td>
          <td>{{ ksiazka.quantity_on_stock }}</td>
          <td>{{ ksiazka.price }}</td>
        </tr>
      {% endfor %}
      </tbody>
</table>
  </div>
  <div id="saldo">
    <h1>Aktualne saldo: {{ saldo }} zł</h1>
  </div>
  <div id="forms">
    <div>
      <form method="post">
        <h2>Zmiana salda</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Kwota</label>
          <input type="number" class="form-control" name="amount" id="exampleInputEmail1" aria-describedby="emailHelp">
          <input type="hidden" name="form_type" value="change_balance">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj kwotę</button>
      </form>
    </div>
    <div>
      <form method="post">
        <h2>Wypożycz książkę</h2>
        <div class="mb-3">
          <label for="numer_isbn" class="form-label">Numer ISBN</label>
          <input type="number" class="form-control" id="numer_isbn" aria-describedby="emailHelp" name="isbn_number">
          <input type="hidden" name="form_type" value="rent_book">
        </div>
        <button type="submit" class="btn btn-primary">Wypożycz</button>
      </form>
    </div>
    <div>
      <form method="post">
        <h2>Dodaj książkę</h2>
        <div class="mb-3">
          <label for="numer_isbn_2" class="form-label">Numer ISBN</label>
          <input type="number" class="form-control" id="numer_isbn_2" aria-describedby="emailHelp" name="isbn_number">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Autor</label>
          <input type="text" class="form-control" id="author" aria-describedby="emailHelp" name="author">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Tytuł</label>
          <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Ilość Sztuk</label>
          <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp" name="quantity">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Cena</label>
          <input type="number" class="form-control" id="price" aria-describedby="emailHelp" name="price">
        </div>
        <input type="hidden" name="form_type" value="add_book">

        <button type="submit" class="btn btn-primary">Dodaj</button>
      </form>
    </div>

  </div>


</body>
</html>